<launch>
  <node pkg="henes_bringup" type="odom_base_footprint_tf_publisher" name="odom_base_footprint_tf_publisher" output="screen"/>
  <node pkg="henes_bringup" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>
  <node pkg="henes_bringup" type="flat_world_imu_node" name="flat_world_imu_node" output="screen"/>
  <node pkg="henes_bringup" type="odometry_publisher_node" name="odometry_publisher_node" output="screen"/>
  <node pkg="henes_bringup" type="map_to_odom_publisher" name="map_to_odom_publisher" output="screen"/>



  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyUSB1"/>
    <param name="baud" value="57600"/>
  </node>



  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="256000"/><!--A1/A2 -->
    <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
    <param name="frame_id"            type="string" value="base_scan"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node pkg="henes_bringup" type="rviz_click_to_2d" name="rviz_click_to_2d">
  </node>
</launch>
